.vending-machine {
  display: flex;
  flex-direction: column;
  align-items: center
}

.section {
  margin-top: 8rem;
  display: flex;
  justify-content: space-evenly;
}

.products {
  width: 90%;
}

.money-controls {
  width: 40%;
  border: solid black 1px;
  border-radius: 0.5rem;
  padding: 1.5rem 0 1.5rem 0;
}
